# Entorno
ENVIRONMENT=local

# Base de datos
PG_DB_HOST=localhost
PG_DB_PORT=5432
PG_DB_NAME=your_database_name
PG_DB_USERNAME=your_username
PG_DB_PASSWORD=your_password
PG_DB_SYNCHRONIZE=false
PG_DB_LOGGING=false

# App
PORT=3001
HOST_API=http://localhost:3001/api

# Seguridad
JWT_SECRET=your_jwt_secret_here
CORS_WHITE_LIST=http://localhost:4200

# Mailer
MAILER_HOST=your_smtp_host
MAILER_PORT=465
MAILER_SECURE=true
MAILER_USER=your_email@example.com
MAILER_PASS=your_email_password

# Archivos estáticos
STATIC_UPLOADS_PATH=static/uploads
STATIC_SERVE_ROOT=/public

# Configuración general de imágenes
IMG_THUMBS_WIDTH=400
IMG_THUMBS_FOLDER=thumbs

# Deploy (solo si cambian por entorno)
DIST_PATH=/path/to/your/frontend/dist
FRONTEND_PATH=/path/to/your/frontend