
ENVIRONMENT=local

PG_DB_PASSWORD=MySecr3tPassWord@as2
PG_DB_NAME=boilerdb
PG_DB_HOST=localhost
PG_DB_PORT=5432
PG_DB_USERNAME=postgres
PG_DB_SYNCHRONIZE = false
PG_DB_LOGGING = false
PG_DB_ENTITIES = [`${__dirname}/migrations/**/*{.ts,.js}`]
PG_DB_MIGRATIONS = false

MY_DB_PASSWORD=MySecr3tPassWord@as2
MY_DB_ROOT_PASSWORD=MySecr3tPassWord@as2
MY_DB_NAME=boilerdb
MY_DB_HOST=localhost
MY_DB_PORT=5432
MY_DB_USERNAME=postgres
MY_DB_SYNCHRONIZE = false
MY_DB_LOGGING = false
MY_DB_ENTITIES = [`${__dirname}/migrations/**/*{.ts,.js}`]
MY_DB_MIGRATIONS = false

MAILER_FROM='"nest-modules gaston" <gastonrodri@gmail.com>'
#MAILER_TRANSPORT=smtp://e08fbe28eb32b5:c07514d6fbdcf2@sandbox.smtp.mailtrap.io:2525
MAILER_USER=e08fbe28eb32b5
MAILER_PASSWORD=c07514d6fbdcf2
MAILER_TEMPLATES_FOLDER=templates/mailer
MAILER_HOST='sandbox.smtp.mailtrap.io'
MAILER_POOL=true
MAILER_PORT=2525
MAILER_TLS=true
MAILER_SECURE=false

MAIL_LOG=usuario@gmail.com
MAIL_ERROR=usuario@gmail.com
MAIL_WARN=usuario@gmail.com
MAIL_DEBUG=usuario@gmail.com
MAIL_VERBOSE=usuario@gmail.com


PORT=3000
HOST_API=http://localhost:3000/api
ENVIRONMENT=local
XLS_FOLDER=files/xls

JWT_SECRET=Est3EsMISE3Dsecreto32s
CORS_WHITE_LIST = 'http://example.com,http://another-domain.com'