# compiled output
/dist
/node_modules
/postgres
/static/

.env
docker-compose.yml

# # Ignorar todos los archivos en la carpeta static y sus subcarpetas
# /static/**/*
# /static/**/*.*

# # No ignorar las carpetas en la estructura
# !static/
# !static/**/
# # No ignorar archivos .gitkeep
# !/static/**/*.gitkeep


# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
package-lock.json
